<footer class="footer">
  <a title="arrow" href=""><img title="arrow" src="./assets/images/ico-arrow.svg" alt="arrow" class="arrow"></a>
  <nav class="footer__menu footer__menu--articles">
    <ul class="footer__list">
      <li class="footer__link">
        <a class="link__item" title="Go to articles" href="https://adalab.es/" target="_blank">Articles</a>
      </li>
      <li class="footer__link">
        <a class="link__item" title="Go to books" href="https://adalab.es/" target="_blank">Books</a>
      </li>
      <li class="footer__link">
        <a class="link__item" title="Go to events" href="https://adalab.es/" target="_blank">Events</a>
      </li>
      <li class="footer__link">
        <a class="link__item" title="Go to reasons" href="https://adalab.es/" target="_blank">Reasons</a>
      </li>
      <li class="footer__link">
        <a class="link__item" title="Go to tips" href="https://adalab.es/" target="_blank">Tips</a>
      </li>
    </ul>
  </nav>
  <nav class="footer__menu footer__menu--social">
    <ul class="footer__list">
      <li class="footer__link">
        <a class="link__item" href="https://adalab.es/" target="_blank">Twitter</a>
      </li>
      <li class="footer__link">
        <a class="link__item" href="https://adalab.es/" target="_blank">Instagram</a>
      </li>
      <li class="footer__link">
        <a class="link__item" href="https://adalab.es/" target="_blank">Mastodon.social</a>
      </li>
    </ul>
  </nav>
  <div class="copyright">
    <small class="copyright__year">©2021</small>
    <small>we <span class="heart">❤︎</span> components</small>
  </div>
</footer>