<section id="reasons" class="reasons__section">
    <h3 class="reasons__title">3 reasons to purchase</h3>
    <ul class="reasons__content">
        <li class="reasons__list">
            <h4 class="reasons__subtitle">Ut sed metus</h4>
            <p class="reasons__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </li>
        <li class="reasons__list">
            <h4 class="reasons__subtitle">Curabitur ac erat</h4>
            <p class="reasons__text">Mauris mattis urna quis lorem molestie.</p>
        </li>
        <li class="reasons__list">
            <h4 class="reasons__subtitle">Morbi dictum</h4>
            <p class="reasons__text">Aliquam in dolor et dolor tincidunt.</p>
        </li>
    </ul>
    <div class="btn__box">
        <button class="btn__more">More reasons</button>
    </div>
</section>