// fonts
$fontText: "Roboto", sans-serif;
$fontTitle: "Roboto Slab", serif;

//sizes
$fontSizeh1: 42px;
$fontSize16: 16px;
$fontSizeSmall: 14px;
$fontSizeTitle: 24px;
$fontSizeText: 18px;
$fontSizeTitleTablet: 26px;
$fontSizeTextTablet: 20px;
$fontSizeTitleDesktop: 32px;

// colors
$menu-bn: #0271bc;
$white: #ffffff;
$lightBlue: #8ccbea;
$black: #000000;
$orange: #f26002;
$iceBlue: #eff9ff;
$darkGreyBlue: #304268;
