//menu
.menu {
  width: 44px;
  height: 44px;
  background-color: #0271bc;
  padding: 14px;
  z-index: 2;
  position: fixed;
}
//hero
.hero {
  height: 100vh; //centrar imagen
  background-image: url(../images/cover.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  & .hero__box {
    text-align: center;
    color: #ffffff;
  }
  & .hero__title {
    font-family: $fontTitle;
    font-size: $fontSizeh1;
    text-transform: uppercase;
    margin: 0 15px 10px 15px;
  }
  & .hero__text {
    font-family: $fontText;
    font-size: $fontSize16;
  }
  & .hero__scroll-down {
    height: 45px;
    width: 45px;
    background-color: #ffffff;
    border-radius: 45px;
    padding: 13px;
    margin: 45px 0 53px 0;
  }
}
//main-article
.main__info {
  background-color: #ffffff;
  & .main__info--small {
    color: #8ccbea;
    font-family: $fontText;
    font-size: $fontSizeSmall;
    text-align: left;
    margin: 0 0 1px 15px;
  }
  & .main__info--title {
    font-family: $fontTitle;
    font-size: $fontSizeTitle;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin: 0 15px 15px 15px;
  }
  & .main__info--text {
    font-family: $fontText;
    font-size: $fontSizeText;
    line-height: 1.67;
    color: #000000;
    margin: 0 15px 30px 15px;
  }
}
.btn__go {
  height: 45px;
  width: 76px;
  border: solid 2px #f26002;
  border-radius: 22.5px;
  padding: 0 25px 0 24px;
  color: #f26002;
  font-size: 20px;
  text-align: center;
  background-color: white;
  margin: 0 0 45px 15px;
}
