//footer
.footer {
  background-color: $darkGreyBlue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  & .footer__menu {
    margin: 10px 87px 30px 87px;
    @media all and (min-width: 768px) {
      margin: 0;
    }
    @media all and (min-width: 1200px) {
      margin-left: 80px;
    }
  }
  & .footer__menu--articles {
    @media all and (min-width: 768px) {
      order: 2;
    }
  }
  & .footer__menu--social {
    @media all and (min-width: 768px) {
      order: 1;
    }
  }
  & .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    margin-bottom: 45px;
    & .copyright__year {
      margin-bottom: 10px;
      padding-top: 5px;
    }
    @media all and (min-width: 768px) {
      align-items: flex-start;
      order: 3;
    }
  }
  @media all and (min-width: 768px) {
    flex-direction: row-reverse;
    align-content: flex-start;
    align-items: flex-start;
    padding-bottom: 45px;
  }
  @media all and (min-width: 1200px) {
    justify-content: center;
  }
}
.footer__box {
  background-color: $darkGreyBlue;
  & .arrow__link {
    display: block;
    margin: auto;
  }
}
.arrow {
  height: 45px;
  width: 45px;
  background-color: $white;
  border-radius: 45px;
  padding: 13px;
  display: block;
  margin: auto;
  position: relative;
  top: -22px;
  z-index: 2;
  animation-duration: 2s;
  animation-name: arrow;
  animation-iteration-count: 3;
}
.footer__link {
  list-style-type: none;
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  & .link__item {
    color: $white;
    text-decoration: none;
    font-family: $fontText;
    font-size: $fontSize16;
    line-height: 20px;
    padding: 5px;
    @media all and (min-width: 768px) {
      display: flex;
      align-items: flex-start;
    }
  }
}
.heart {
  color: $orange;
}
