//hero
.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  & .hero__box {
    text-align: center;
    color: $white;
  }
  & .hero__title {
    font-family: $fontTitle;
    font-size: $fontSizeh1;
    text-transform: uppercase;
    margin: 0 15px 10px 15px;
    @media all and (min-width: 768px) {
    }
  }
  & .hero__text {
    font-family: $fontText;
    font-size: $fontSize16;
  }
  & .hero__scroll-down {
    height: 45px;
    width: 45px;
    background-color: $white;
    border-radius: 45px;
    padding: 13px;
    margin: 45px 0 53px 0;
  }
}
