//hero
.hero {
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position-x: center;
  @include flexColumn();
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 30px;
  & .hero__box {
    text-align: center;
    color: $white;
  }
  & .hero__title {
    font-family: $fontTitle;
    font-size: $fontSizeh1;
    text-transform: uppercase;
    margin: 0 15px 10px 15px;
    width: 400px;
    text-align: center;
    animation-duration: 2s;
    animation-name: hero;
    animation-iteration-count: 1;
    @media all and (min-width: 768px) {
      width: 800px;
      font-size: 80px;
      line-height: 106px;
    }
    @media all and (min-width: 1200px) {
      font-size: 100px;
    }
  }
  & .hero__text {
    font-family: $fontText;
    font-size: $fontSize16;
    @media all and (min-width: 768px) {
      font-size: $fontSizeTitle;
    }
  }
  & .hero__scroll-down {
    height: 45px;
    width: 45px;
    background-color: $white;
    border-radius: 45px;
    padding: 13px;
    margin: 45px 0 53px 0;
    @media all and (min-width: 768px) {
      margin: 30px 0 45px 0;
    }
    @media all and (min-width: 1200px) {
      margin-bottom: 13px;
    }
  }
}
@keyframes hero {
  from {
    opacity: 0;
    transform: scale(5);
  }
  to {
    opacity: 2;
    transform: scale(1);
  }
}
