//main-article
.main__info {
  background-color: $white;
  & .main__info--small {
    color: $lightBlue;
    font-family: $fontText;
    font-size: $fontSizeSmall;
    text-transform: capitalize;
    text-align: left;
    margin: 0 0 10px 15px;
    @media all and (min-width: 1200px) {
      font-size: $fontSize16;
    }
  }
  & .main__info--title {
    @include titleStyle();
    font-weight: bold;
    line-height: 1.25;
    text-align: left;
    margin: 10px 15px 15px 15px;
    @media all and (min-width: 768px) {
      font-size: $fontSizeTitleTablet;
    }
    @media all and (min-width: 1200px) {
      font-size: $fontSizeTitleDesktop;
    }
  }
  & .main__info--text {
    font-family: $fontText;
    font-size: $fontSizeText;
    line-height: 1.67;
    color: #000000;
    margin: 0 15px 30px 15px;
    @media all and (min-width: 768px) {
      font-size: $fontSizeTextTablet;
      margin-top: 30px;
    }
  }
  & .btn__go {
    height: 45px;
    width: 76px;
    border: solid 2px $orange;
    border-radius: 22.5px;
    padding: 0 25px 0 24px;
    color: $orange;
    font-size: 20px;
    font-family: $fontText;
    text-align: center;
    background-color: $white;
    margin: 0 0 45px 15px;
    transition: background-color ease 0.8s, width ease 0.8s;
    &:hover {
      width: 90px;
      background-color: $orange;
      color: $white;
      box-shadow: 2px 2px 2px lightgrey;
      @media all and (min-width: 768px) {
        width: 100px;
      }
      @media all and (min-width: 1200px) {
        width: 140px;
      }
    }
    @media all and (min-width: 768px) {
      width: 91px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
      margin-bottom: 0;
    }
  }
  @media all and (min-width: 768px) {
    margin-left: 24px;
    margin-right: 39px;
  }
  @media all and (min-width: 1200px) {
    margin: 60px 275px;
  }
}
